<html>
<head>
    <title>PintoLab SamplesDB</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="public/assets/css/style.css" rel="stylesheet">




</head>


<body>




    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><b>SamplesDB</b></a>
            </div>

            <img src="public/assets/images/MSMC_KO_Hrztl.png" class="pull-right visible-lg visible-md" style="margin:0px; padding-top:5px; height:40px;">
        </div>
        </div>
    </nav>



    <div id= "container" style="margin-top:200px">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align:center">
                <div class="modal-body">
                    <form class="form-signin" name="login" role="form" action="/demographicsDB/login" method="post" _lpchecked="1">
                        <h2 class="form-signin-heading"></h2>
                        <input type="text" name="user" id="user" class="form-control" placeholder="Username" required="" autofocus="" autocomplete="off" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=);">
                        <input type="password" name="pass" id="pass"  class="form-control" placeholder="Password" required="" autocomplete="off" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=);">
                        <label class="checkbox">
                            <!-- <input type="checkbox" name="rememberme" value="remember-me"> Remember me-->
                        </label>
                        <button class="btn btn-lg btn-primary btn-block" id="submit" name="submit" type="submit">Sign in</button>
                    </form>

                </div>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>